.main {
    height: auto;
    position: relative;
}

.valueBg {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
    gap: 2em;
}

.txtContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phoneImg {
    width: 100%;
    object-fit: contain;
}

.demo {
    width: 100%;
}

/*Tablet*/
@media only screen and (max-width: 810px) {
    .content {
        flex-direction: column-reverse;
    }

    .txtContent,
    .imageContent {
        width: 100%
    }
}

/*Mobile*/
@media only screen and (max-width: 475px) {
    .phoneImg {
        display: none;
    }
}