.main{
    width: 100%;
    height: auto;
    padding: 1% 15%;
    display: flex;
    align-items: center;
    background-color: rgba(213, 215, 255, 0.9);
    box-sizing: border-box;
}
.logoImg{
    object-fit: cover;
}