.main{
  padding: 1% 15%;
}

.fullWidthContent{
  margin-bottom: 4rem;
}

.valuePropSection{
  background-image: '';
}

.ctaBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
