
.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 100%; 
  overflow-x: hidden; 
}

.body {
  height: 2238px;
  margin: 0;
}
.top{
  position: absolute;
  top: 5%;
  left: 14%;
}
.header {
  background-image: url('/headerBackground.png');
  height: 665px; 
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: top;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  padding: 5rem;
 

 
}
.leftcontent{
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
  line-height: 3px;
  padding-top: 5rem;
}
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'lexend';
}
.description{
  height:120px;
  width: 461px;
  line-height: 25px;
  font-weight: lighter;
  font-family: 'lexend';
 
}

.blob {
  background-image: url('/blob.png');
  height: 362px;
  width: 644px;
  padding: 3rem;
  background-repeat: no-repeat;
}


.rightcontent {
  display: flex;
  justify-content: center; 
  margin-left: 10rem;
}

.phone {
  position: relative;
  top: 0;
}

.secondcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;


  
}



.one{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: center;
  width: 189px;
  height: 400px;
 
  


  
}


.blobs{
 background-image: url('/2.png');
 height: 260px;
 width: 220px;
 padding: 2.5rem;
 background-repeat: no-repeat;
}

.blob2{
  background-image: url('/1.png');
  height: 260px;
  width: 220px;
  background-repeat: no-repeat;
  padding: 2.5rem;
 
 
}
.blob3 {
  background-image: url('/4.png');
  height: 260px;
  width: 220px;
  background-repeat: no-repeat;
  padding: 2.5rem;
}
.blob4 {
  background-image: url('/3.png');
  height: 260px;
  width: 220px;
  background-repeat: no-repeat;
  padding: 2.75rem;
}


.title2{
  font-family: 'lexend';
  font-size: 30px;

  font-weight: 300;
}

.onetitle{
  font-family: 'lexend';
  font-size: 20;
  font-weight: 400;
  line-height: 1%;
  align-items: center;

}

.features {
  font-family: 'lexend';
  font-size: 15;
  font-weight: 25;
}


.thirdcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 20rem;

}


.row1 {
  display: flex;
  flex-direction: column;
  background-image: url('/rectangle.png');
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
 
}


.blogcontent {
  height: 158px;
  width: 252px;
  background-color: white;
  margin-top: 6rem;
  
}

.blogpreview {
  font-size:15px;
  font-weight: 10;
  padding: 1rem;
}


.blogtitle{
  font-size:18px;
  font-weight: 100;
  padding: 1rem;
}
  
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .header {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .leftcontent {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .title {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
 
}
