.main {
    width: 100%;
    height: auto;
    padding: 1% 15%;
    box-sizing: border-box;
    margin-top: 2em;
    background-color: #F2F2FD;
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.socialsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.downloadBtn{
    background-color: #D5D7FF;
    border-radius: 2.5em;
    padding: 0.25em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    
}

.link{
    text-decoration: none;
    color: inherit;
}

.link:hover{
    color: #6164C3;
}

/*Tablet*/
@media only screen and (max-width: 810px) {
    .main{
        gap: 1em;
    }
    .linksContainer{
        flex-direction: column;
    }
}

/*Mobile*/
@media only screen and (max-width: 475px) {
    .main, .linksContainer{
        flex-direction: column;
    }
    .main{
        padding: 5% 15%;
    }
}
